.heading {
  color: #fff;
  font-size: 2rem;
}

.input {
  background-color: #004346;
  border: 0;
  border-radius: 16px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
  color: #fff;
  font-size: 1.25rem;
  padding: 1.25rem 0.5rem;
  width: 100%;
}

.label {
  color: #fff;
  font-size: 1.25rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  background-color: #004346;
  border: 0;
  border-radius: 4px;
  font-size: 1.25rem;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  color: #fff;
}

.newLiftButton {
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 1rem;
}
